@inject HttpClient Http
@using TicketReservationSystem.Shared
@using Blazorise.Components
@inject IJSRuntime JSRuntime
<EditForm Model="@HallDetails" OnValidSubmit="@HandleValidSubmit" Class="hall-form">
  <DataAnnotationsValidator />
  <Validations Mode="ValidationMode.Auto" Model="@HallDetails">
    <Fields Class="seat-adder__form__row">
      <Validation>
        <Field Class="hall-form__field" ColumnSize="ColumnSize.Is2.OnDesktop">
          <FieldLabel>Cinema</FieldLabel>
          <SelectList TItem="@Cinema"
                      TValue="int"
                      Data="@Cinemas"
                      TextField="@((item)=>item.Name)"
                      ValueField="@((item)=>item.CinemaId)"
                      SelectedValue="@SelectedCinema.CinemaId"
                      SelectedValueChanged="@MyListValueChangedHandler" />
        </Field>
      </Validation>
      <Validation>
        <Field ColumnSize="ColumnSize.Is2.OnDesktop" Class="hall-form__field">
          <FieldLabel>Name</FieldLabel>
          <TextEdit @bind-Text="@HallDetails.Name">
            <Feedback>
              <ValidationError />
            </Feedback>
          </TextEdit>
        </Field>
      </Validation>
      <Validation>
        <Field ColumnSize="ColumnSize.Is2.OnDesktop" Class="hall-form__field">
          <FieldLabel>Rows</FieldLabel>
          <TextEdit @bind-Text="@HallDetails.Rows">
            <Feedback>
              <ValidationError />
            </Feedback>
          </TextEdit>
        </Field>
      </Validation>
      <Validation>
        <Field ColumnSize="ColumnSize.Is2.OnDesktop" Class="hall-form__field">
          <FieldLabel>Number of seats in 1 row</FieldLabel>
          <TextEdit @bind-Text="@HallDetails.NumberOfSeatsInRow">
            <Feedback>
              <ValidationError />
            </Feedback>
          </TextEdit>
        </Field>
        </Validation>
    </Fields>
  </Validations>
    <Button Color="Color.Primary" Type="ButtonType.Submit" Class="hall-form__button">Generate layout</Button>

    <div class="hall">
      @if (DisplaySeats)
      {
        int rowIndex = 1;
        foreach (var row in AllSeats)
        {
<div class="hall-seats">
  <p class="row-index">@rowIndex</p>
  @for (int i = 0; i < row.Count; i++)
  {
<SeatComponent Number="@(row[i].Number.ToString())" Row="@(row[i].Row.ToString())" CallBack="@OnSeatClicked" Type="@(row[i].Type)" DefaultNumber="@(row[i].Index.ToString())" />}
</div>rowIndex++;
}
}
    </div>

    <Button Color="Color.Primary" Type="ButtonType.Submit" Disabled="!DisplaySeats" Clicked="OnAddHall" Class="hall-form__button">Add hall with layout</Button>
</EditForm>


@code {

    public bool DisplaySeats { get; set; } = false;
    public HallDetailsModel HallDetails { get; set; } = new HallDetailsModel();
    public List<List<SeatDTO>> AllSeats { get; set; } = new List<List<SeatDTO>>();
    public List<Cinema> Cinemas { get; set; } = new List<Cinema>();
    public Cinema SelectedCinema { get; set; } = new Cinema();
    public bool CanGenerateLayout { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
      Cinemas = await Http.GetFromJsonAsync<List<Cinema>>("api/cinemas");
      SelectedCinema.CinemaId = Cinemas[0].CinemaId;
      await JSRuntime.InvokeVoidAsync("console.log", Cinemas);
    }

    void MyListValueChangedHandler(int newC)
    {
      SelectedCinema = Cinemas.Where(c => c.CinemaId == newC).ToList()[0];
      Console.WriteLine(newC);
    }

    public void HandleValidSubmit()
    {
      GenerateSeatLayout();
      DisplaySeats = true;
      StateHasChanged();
    }

    private void GenerateSeatLayout()
    {
      AllSeats = new List<List<SeatDTO>>();
      for (int i = 0; i < Int32.Parse(HallDetails.Rows); i++)
      {
        List<SeatDTO> Row = new List<SeatDTO>();
        for (int j = 0; j < Int32.Parse(HallDetails.NumberOfSeatsInRow); j++)
        {
          Row.Add(new SeatDTO() { Number = j, Row = i, Type = SeatType.Classic, Index = j });
        }
        AllSeats.Add(Row);
      }
    }

    public void OnSeatClicked(string number, string rowIndex)
    {
      int numberInt = Int32.Parse(number);
      int rowInt = Int32.Parse(rowIndex);
      var seat = AllSeats[rowInt][numberInt];
      if (seat.Type == SeatType.Classic)
      {
        // Gotta secure that all seat numbers will be recalculated
        seat.Type = SeatType.Disabled;
        var row = AllSeats[rowInt];
        for (int index = seat.Index; index < row.Count; index++)
        {
          row[index].Number -= 1;
        }
      }
      else if (seat.Type == SeatType.Disabled)
      {
        seat.Type = SeatType.Handicapped;
        var row = AllSeats[rowInt];
        for (int index = seat.Index; index < row.Count; index++)
        {
          row[index].Number += 1;
        }
      }
      else
      {
        seat.Type = SeatType.Classic;
      }
      StateHasChanged();
    }
    private async void OnAddHall()
    {
      Console.WriteLine(SelectedCinema.CinemaId);
      HallDTO hall = new HallDTO();
      hall.Name = HallDetails.Name;
      hall.Shows = new List<MovieShow>();
      hall.Capacity = (uint)GetHallCapacity();
      hall.Cinema = Cinemas.Where(c => c.CinemaId == SelectedCinema.CinemaId).FirstOrDefault();
      hall.Seats = FlattenSeatArray();
      await Http.PostAsJsonAsync<HallDTO>("api/halls", hall);

    }
    private int GetHallCapacity() {
      int capacity = 0;
      foreach (var row in AllSeats) {
        foreach (var seat in row) {
          if (seat.Type == SeatType.Classic || seat.Type == SeatType.Disabled) {
            capacity++;
          }
        }
      }
      return capacity;
    }
    private List<SeatDTO> FlattenSeatArray() {
      var result = new List<SeatDTO>();
      foreach (var row in AllSeats) {
        foreach (var seat in row) {
          result.Add(seat);
        }
      }
      return result;
    }
 }
