@if(Model != null) {
  <EditForm Model="@Model" OnValidSubmit="OnValidSubmit" Class="login-form">
    <DataAnnotationsValidator />
    <Validations Mode="ValidationMode.Auto" Model="@Model">
        <Validation>
            <Field>
                <FieldLabel>Názov kina</FieldLabel>
                <TextEdit Placeholder="Názov.." Role="TextRole.Text" @bind-Text="@Model.Name" />
            </Field>
        </Validation>
        <Validation>
            <Field>
                <FieldLabel>Mesto</FieldLabel>
                <TextEdit Placeholder="Mesto.." Role="TextRole.Text" @bind-Text="@Model.City" />
            </Field>
        </Validation>
        <Validation>
            <Field>
                <FieldLabel>Email</FieldLabel>
                <TextEdit Placeholder="Email" Role="TextRole.Email" @bind-Text="@ModelAccount.Email" />
            </Field>
        </Validation>
        <Validation>
            <Field>
                <FieldLabel>Password</FieldLabel>
                <TextEdit Placeholder="Password" Role="TextRole.Password" @bind-Text="@ModelAccount.Password" />
            </Field>
        </Validation>
        <Validation>
            <Field>
                <FieldLabel>Payment Gateway Publishable Key</FieldLabel>
                <TextEdit Placeholder="pk.." Role="TextRole.Text" @bind-Text="@Model.GatewayApiKey" />
            </Field>
        </Validation>
        <Validation>
            <Field>
                <FieldLabel>Payment Gateway Secret Key</FieldLabel>
                <TextEdit Placeholder="sk..." Role="TextRole.Text" @bind-Text="@Model.GatewayApiSecretKey" />
            </Field>
        </Validation>
    </Validations>
    <Button Color="Color.Primary" Type="ButtonType.Submit">@ButtonText</Button>
  </EditForm>
}
@code {
    [Parameter]
    public Cinema Model { get; set; }

    [Parameter]
    public CinemaEmailAccount ModelAccount { get; set; }

    [Parameter]
    public Func<EditContext, Task> CallBack { get; set; }

    [Parameter]
    public string ButtonText { get; set; }

    public async Task OnValidSubmit(EditContext editContext) {
        await CallBack.Invoke(editContext);
    }

}
